{% extends "base.html" %}
{% block title %} {{ block.super }} - main page {% endblock %}
{% load staticfiles %}
{% block content %}
<a href="/blog/register/">Register Here</a>
<a href="/blog/login/">Sign in</a>
{% if user.is_authenticated %}
<h2>Blog says HELLO {{ user.username }}!</h2>
{% else %}
<h2>Blog says HELLO guest!</h2>
{% endif %}

<h1>Blog CATEGORIES{{ title }}</h1>
	{% if categories_list %}
    <ul>
      {% for category in categories_list %}
        <li>{{ category.name }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <strong>There are no categories present.</strong>
  {% endif %}
<h1>Blog POST-LIST{{ title }}</h1>
  {% if posts_list %}
    <div id = "postslist">
				{% for post in posts_list %}
          <p><a href="/blog/posts/{{ post.slug }}/">{{ post.title }}</a></p>
        {% endfor %}
    </div>
  {% else %}
    <strong>There are no posts present.</strong>
  {% endif %}
<!--
<h2>{{ title | upper }}</h2>
<h2> {{ title|lower }}</h2>

<p><b>{{ boldmessage }}</b></p>
<img src="{% static 'images/images.png' %}">
<p>{{ text|escape|linebreaks }}</p>

{{ boldmessage|truncatewords:30 }}
<p><b>{{ boldmessage|addslashes }}</b></p>

{{ datet|date:"SHORT_DATE_FORMAT" }}

{% lorem 4 p random %}--><!-- 4 рандомных абзаца -->
<!--{% for article in article_list %}
	<div>
		<h2><a href="#">
		{{ article.title }}
		</a></h2>
	 		{% lorem 1 p random %}
		</div>
	{% endfor %}-->

{% endblock %}
