{% extends "base.html" %}
{% block title %} {{ block.super }} - blog index page {% endblock %}
{% load staticfiles %}
{% block content %}
<h1>Blog home page</h1>
<h2>{{ title }}</h2>
<!--
<h2>{{ title | upper }}</h2>
<h2> {{ title|lower }}</h2>
-->
<p><b>{{ boldmessage }}</b></p>
<img src="{% static 'images/images.png' %}">
<p>{{ text|escape|linebreaks }}</p>
<!--
{{ boldmessage|truncatewords:30 }}
<p><b>{{ boldmessage|addslashes }}</b></p>
-->
{{ datet|date:"SHORT_DATE_FORMAT" }}

<!--{% lorem 4 p random %}--><!-- 4 рандомных абзаца -->
{% for article in article_list %}
	<div>
		<h2><a href="#">
		{{ article.title }}
		</a></h2>
	 		{% lorem 1 p random %}
		</div>
	{% endfor %}
{% endblock %}
