{% extends "base.html" %}
{% block title %} {{ block.super }} - main page {% endblock %}
{% load staticfiles %}
{% block sidebar %}
    <style type="text/css">
        #sidebar { float: right; border: 1px dotted #ccc; padding: 4px; }
    </style>
    <div id="sidebar">
        Monthly Archive<br />
        {% for month in months %}
            <a href="/blog/month/{{ month.0 }}/{{month.1 }}/">{{ month.2 }}</a> <br />
        {% endfor %}
    </div>
{% endblock %}
{% block content %}
<a href="/blog/register/">Register Here</a>
<a href="/blog/login/">Sign in</a>
{% if user.is_authenticated %}
<h2>Blog says HELLO {{ user.username }}!</h2>
{% else %}
<h2>Blog says HELLO guest!</h2>
{% endif %}

<h1>Blog CATEGORIES{{ title }}</h1>
	{% if categories_list %}
    <ul>
      {% for category in categories_list %}
        <li>{{ category.name }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <strong>There are no categories present.</strong>
  {% endif %}
<h1>Blog POST-LIST{{ title }}</h1>

    <div id = "postslist">
				{% for post in posts %}
          <p><a href="/blog/posts/{{ post.slug }}/">{{ post.title }}</a></p>
        {% endfor %}

				<!-- Next/Prev page links  -->
				{% if posts.object_list and posts.paginator.num_pages > 1 %}
	        <div class="pagination" style="margin-top: 20px; margin-left: -20px; ">
	            <span class="step-links">
	                {% if posts.has_previous %}
	                    <a href= "?page={{ posts.previous_page_number }}">newer entries &lt;&lt; </a>
	                {% endif %}

	                <span class="current">
	                    &nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}
	                </span>

	                {% if posts.has_next %}
	                    <a href="?page={{ posts.next_page_number }}"> &gt;&gt; older entries</a>
	                {% endif %}
	            </span>
	        </div>
	       {% endif %}
    </div>
{% endblock %}
