{% extends "base.html" %}
{% block content %}
        <div id="singlepost">
                <h2>{{ post.title }}</h2>
                <p>{% autoescape off %}{{ post.body }}{% endautoescape %}</p>
                <div>
                  <a href="{% url 'goto' %}?post_id={{post.id}}">{{ post.title }}</a>
                  {% if post.views > 1 %} ({{ post.views }} views)
                  {% elif post.views == 1 %} ({{ post.views }} view)
                  {% endif %}
                </div>
                <!-- Comments  -->
                {% if comments %}
                <p>Comments:</p>
                {% endif %}
                {% for comment in comments %}
                  <div class="comment">
                      <div class="time">{{ comment.created }} | {{ comment.author }}</div>
                      <div class="body">{{ comment.body|linebreaks }}</div>
                  </div>
                {% endfor %}
                {% if user.is_authenticated %}
                    <div id="addc">Add a comment</div>
                    <!-- Comment form  -->
                    <form action="/blog/add_comment/{{ post.slug }}/" method="POST">{% csrf_token %}
                      <!-- защита против CSRF атак -->
                      <div id="cform">
                   			<p>{{ form.body }}</p>
                			</div>
          			      <div id="submit"><input type="submit" value="Submit"></div>
    			          </form>
			          {% endif %}
                <p>Category: <a href="/blog/categories/{{ post.category.slug }}/">{{ post.category }}</a></p>
        </div>
{% endblock %}
